body {
    background-color: #eee;
    color: #111;
    margin: .5em 3em;
}
header {
    border-bottom: 2px solid #ccc;
    text-align: center;
}
h1, h2 {
    font-family: sans-serif;
}
h1 {
    color: #333;
    font-variant: small-caps;
    font-size: 1.8em;
}
h2 {
    color: #555;
    font-size: 1.2em;
}
h3 {
    font-size: 0.9em;
}